@model InmobiliariaVaras.Models.Inquilinos
@{
    ViewData["Title"] = "Altas";
}

@if(!User.Identity.IsAuthenticated)
 {
     await Html.RenderPartialAsync("_Login", new LoginView());
 }
 else
 {

<h1>Alta Inquilino/a</h1> <!--Ingresa un Inquilino-->

<div class="container">
    <div>
        <form method="post" asp-action="Alta">
            <div class="form-group">
                <label for="dni_id" class="control-label">DNI</label>
                <input type="text" class="form-control" id="dni_Inq" name="dni_Inq" placeholder="DNI">
            </div>
            <div class="form-group">
                <label for="name_id" class="control-label">Nombre</label>
                <input type="text" class="form-control" id="nombre_Inq" name="nombre_Inq" placeholder="Nombre">
            </div>
            <div class="form-group">
                <label for="mail" class="control-label">E-mail</label>
                <input type="text" class="form-control" id="email" name="email" placeholder="E-mail">
            </div>
            <div class="form-group">
                <label for="dire" class="control-label">Domicilio</label>
                <input type="text" class="form-control" id="dom_Inq" name="dom_Inq" placeholder="Domicilio">
            </div>
            <div class="form-group">
                <label for="dire" class="control-label">Teléfono Inquilino</label>
                <input type="text" class="form-control" id="tel_Inq" name="tel_Inq" placeholder="Teléfono Inquilino">
            </div>
            <div class="form-group">
                <label for="dire" class="control-label">Domicilio Laboral</label>
                <input type="text" class="form-control" id="domicilio_Lab" name="domicilio_Lab" placeholder="Domicilio Laboral">
            </div>
            <div class="form-group">
                <label for="dire" class="control-label">Nombre Garante</label>
                <input type="text" class="form-control" id="nombre_Garante" name="nombre_Garante" placeholder="Nombre Garante">
            </div>
            <div class="form-group">
                <label for="dire" class="control-label">DNI Garante</label>
                <input type="text" class="form-control" id="dni_Garante" name="dni_Garante" placeholder="DNI Garante">
            </div>
            <div class="form-group">
                <label for="dire" class="control-label">Teléfono Garante</label>
                <input type="text" class="form-control" id="tel_Garante" name="tel_Garante" placeholder="Teléfono Garante">
            </div>
            <input type="submit" value="Confirmar" />
        </form>
    </div>
</div>
 }